@tailwind base;

a {
  @apply text-blue-700;
}

a:hover {
  @apply underline;
}

@tailwind components;

@tailwind utilities;

.nav, .footer {
  background-color: #013c9a;
}

.nav .title {
  font-family: 'Shadows Into Light Two', cursive;
}

.content {
  @apply tracking-wider leading-8 text-base;
}

.content p {
  @apply my-5;
}

.content h1 {
  @apply text-3xl font-bold mt-12 mb-5 leading-10;
}

.content h2 {
  @apply text-2xl font-bold mt-10 mb-5;

  color: #013c9a;
}

.content h3 {
  @apply text-xl font-bold mt-10 mb-5;
}

.content ul,
.content ol,
.content p {
  @apply overflow-auto;
}

.content > div > ul,
.content > div > ol {
  @apply my-6;
}

.content ul {
  @apply pl-8;
  @apply list-outside list-disc;
}

.content ol {
  @apply list-none;
}

.content address {
  font-style: normal;
}